<nav>
    <ul>
        <li class="navbar-design">
            <a href="/">List Task</a>
        </li>
        <li class="navbar-design">
            <a href="/add">Add Task</a>
        </li>
    </ul>
</nav>