<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-email" method="post">
        <label for="">Mail</label>
        <textarea name="" id="" name="mail"></textarea>
        <label for="">Subject</label>
        <input type="text" placeholder="Enter Text" name="subject">
        <button>Send Mail</button>
    </form>
</body>
</html>